body{
    height: 100vh;
    background-image: linear-gradient(gainsboro, dimgray);
}
#container{
    
}
h1, h2, h3{
    font-family: 'Genos', sans-serif;
    color: rgb(22, 58, 90);
    font-style: italic;
}
h3{
    font-size: 1.4em;
}
section{
    font-family: 'Domine', sans-serif;
}
.selector{
    margin-bottom: 1.75rem;
}
#cart{
    border: dashed;
    width: 25%;
    height: auto;
    text-align: center;
    border-radius: 12%;
    background-color: rgb(240, 240, 240);
}
#purchase{
    background-color: rgba(255, 209, 5, 0.178);
    font-family: 'Domine', sans-serif;
    color: rgb(22, 58, 90);
    font-size: 1.12em;
    height: 50px;
    width: 90%;
    border: solid black 2px;
    border-radius: 30%;
    margin-bottom: 5%;
}